body{
    background: #dbe2e8;
    margin: 0;
    background-image: url("/images/background_ocean_opt.jpg");
    /* mix-blend-mode: overlay; */
    font-family: 'Montserrat', sans-serif;
    color: #092c40;
}

nav {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: .5em;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #092c40;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: .5em;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    color: #092c40;
    font-size: 14px;
}

.header_r {
    display: flex;
    flex-direction: row;
}

#app {
    display: flex;
    justify-content: space-evenly;
}

.left, .right {
    border: 2px dotted white;
    padding: 1em;
    /* margin-top: 10px; */
}

.left {
    flex-grow: 2;
    flex-basis: 100;
}

.right {
    flex-grow: 1;
    flex-basis: 10;
    background-color: #43aae53b;
}

.logo {
    display: flex;
    flex-direction: row;
}

img {
    max-width:50%;
    height:auto;
}

.quotes {

}